[Unit]
Description=Kafka
After=network.target

[Service]
User=kafka
Environment="KAFKA_HEAP_OPTS={{ max_memory_heap }} {{ min_memory_heap }}"
ExecStart={{ installation_dir }}/kafka/bin/kafka-server-start.sh {{ installation_dir }}/kafka/config/server.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target
