---
- name: Creating the data directory for zookeeper
  file:
    path: "{{ zookeeper_data_dir }}"
    state: directory
    owner: "{{ kafka_service_user_name }}"
    group: "{{ kafka_service_group_name }}"

- name: Configuring zookeeper service
  template:
    src: "zookeeper.service.j2"
    dest: "/etc/systemd/system/zookeeper.service"
    owner: root
    group: root
  notify:
    - Reload systemd daemon

- name: Updating zookeeper broker id configuration
  template:
    src: "myid.j2"
    dest: "{{ zookeeper_data_dir }}/myid"
    owner: "{{ kafka_service_user_name }}"
    group: "{{ kafka_service_group_name }}"

- name: Updating zookeeper configuration
  template:
    src: "zookeeper.properties.j2"
    dest: "{{ installation_dir }}/kafka/config/zookeeper.properties"
    owner: "{{ kafka_service_user_name }}"
    group: "{{ kafka_service_group_name }}"
  notify:
    - Start zookeeper service
